#!/usr/bin/make -f

export DEB_LDFLAGS_APPEND=-Wl,--as-needed -Wl,-O1
export DEB_BUILD_MAINT_OPTIONS="hardening=+pie,+bindnow"

override_dh_auto_configure:
	dh_auto_configure -- --with-greeter-user=lightdm --with-user-session=lightdm-xsession

override_dh_installinit:
	dh_installinit --noscripts

override_dh_install:
	find debian/tmp -name '*.la' -delete
	rm debian/tmp/usr/lib/*/lightdm/gdmflexiserver
	dh_install --fail-missing

%:
	dh $@

override_dh_auto_test:
